.item-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.item-name {
    flex-basis: 80%;
    font-size: x-large;
}

.item-quantity {
    font-size: x-large;
    color: royalblue;
}