.error-input {
    border: 1px solid red;
}

.shake {
    animation: shakeInput 0.2s linear 0s 3;
}

@keyframes shakeInput {
    0% {margin-left: 0rem;}
    25% {margin-left: 0.5rem;}
    75% {margin-left: -05.rem;}
    100% {margin-left: 0rem;}
}