.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    letter-spacing: 1rem;
    font-size: 3rem;
    color: var(--light-purple);
}

.header-image-wrapper {
    height: 300px;
    width: 300px;
}

.header-image {
    max-width: 100%;
    max-height: 100%;
}